<ion-view view-title="Badges">
  	<ion-content>
		<!-- <h1>Badges</h1> -->

		<!-- <ion-list>

	      	<ion-item ng-repeat="badge in badges">
	        	{{badge.title}}, {{badge.date}}
	      	</ion-item>
	    </ion-list> -->

	    <div class="row">
	    	<div class="col">
	    		<img src="img/trophy.png" height="100" width="80">Ratatouille</br>Award
	    	</div>
	    	<div class="col">
	    		<img src="img/trophy.png" height="100" width="80">Master Chef Award
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col">
	    		<img src="img/trophy.png" height="100" width="80"></br>Paleo for a Week
	    	</div>
	    	<div class="col">
	    		<img src="img/trophy.png" height="100" width="80">Ramen Diet
	    	</div>
	    </div>

  	</ion-content>
</ion-view>
