<ion-view view-title="History">
	<ion-content padding="true">
	    <div class="list card">
			<div class="item item-avatar" ng-repeat="meal in mealsCooked">
				<!-- <img src="img/meal-cooked.png"> -->
				<img src="{{meal.image}}">
				<h2>{{meal.name}}</h2>
				<p>{{meal.date.toLocaleTimeString("en-us", { weekday: "long", year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit" } ) }}</p>
			</div>

			<div class="item item-avatar">
				<img src="img/awards/ratatouille-award.jpg">
				<h2>Ratatouille award earned!</h2>
				<p>For cooking your first meal - anyone can cook!</p>
			</div>
		</div>
	</ion-content>
	<!-- <tabs-menu></tabs-menu> -->
</ion-view>
