<ion-modal-view>
	<ion-content padding="true">
		<div class="buttons">
			<button class="button button-clear" ng-click="closeKeepCooking()">Close</button>
		</div>
		<!-- <div class="list card">
			<div class="item item-text-wrap">
	    		<p>Added meal to meals cooked this week!</p>
	    	</div>
	    </div> -->
	    <div style="margin-top: 50px;">
		    <div class="row">
		    	<img src="img/fireworks.png" style="width:70%; height:70%; margin-left: auto; margin-right: auto; margin-bottom: 30px;" class="center">
		    </div>
		    <h4 class="center">Added meal to meals cooked this week!</h4>
		    <p class="center" style="margin: 20px;">You're cooking up a storm! Keep cooking to earn more trophies and keep up your chef level!</p>
		</div>
	    <!-- <div class="list card">
			<div class="item item-text-wrap">
	    		<p>You earned a trophy!!</p>
	    	</div>
	    </div> -->
	</ion-content>
</ion-modal-view>