<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-stable">
			<h1 class="title">Menu</h1>
		</ion-header-bar>
		<ion-content class="no-background">
			<ion-list>
				<!-- <ion-item menu-close ng-click="login()">
					Login
				</ion-item> -->
				<ion-item menu-close href="#/app/profile">
					Dashboard
				</ion-item>
				<ion-item menu-close href="#/app/search">
					Recipe Search
				</ion-item>
				<ion-item menu-close href="#/app/history">
					History
				</ion-item>
				<ion-item menu-close href="#/app/badges">
					Trophies
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>

<!--
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- Dashboard Tab -->
	<!-- <ion-tab title="Profile" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/profile">
		<ion-nav-view name="tab-profile"></ion-nav-view>
	</ion-tab> -->

	<!-- Recipe Search Tab -->
	<!-- <ion-tab title="Recipe Search" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/search">
		<ion-nav-view name="tab-recipe-search"></ion-nav-view>
	</ion-tab> -->

	<!-- History Tab -->
	<!-- <ion-tab title="History" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/history">
		<ion-nav-view name="tab-history"></ion-nav-view>
	</ion-tab> -->

	<!-- Badges Tab -->
	<!-- <ion-tab title="Badges" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/badges">
		<ion-nav-view name="tab-badges"></ion-nav-view>
	</ion-tab>

</ion-tabs> -->