<ion-view view-title="Dashboard">
	<ion-content padding="true" class="salad-background">
		<h1 class="center">Week of: </h1>

		<div class="list card">
			<div class="item">
				<h2>Meals cooked</h2>
			</div>

			<div class="item item-image">
				<img id="plate" src="img/plate.png">
				<h2 id="number-meals-cooked">{{ mealsCooked.length }}</h2>
				<h4 id="number-meals-cooked-description">meals cooked</h4>
			</div>

			<a class="item item-icon-left center" href="#" ng-click="cook()">
    			<i class="ionicons ion-plus-round"></i>
				Cook today
  			</a>
		</div>

		<div class="list card">
			<div class="item">
				<h2>Summary of meals cooked this week:</h2>
			</div>

			<div class="item">
				<p>
					Average meal cost: $10
					</br>
					Average calories per meal: 430
					</br>
					New recipes tried: 1
					</br>
					New skills: flipping an egg, heating up water
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-avatar">
				<img src="img/ionic.png">
				<h2>Chef Level: Dishwasher</h2>
				<p>9 meals to go until next level!</p>
			</div>
		</div>

		<div class="list card">
			<div class="item">
				<h2>Trophies earned this week</h2>
			</div>

			<div class="item item-avatar">
				<img src="img/ionic.png">
				<h2>Ratatouille Award</h2>
				<p>For cooking your first meal</p>
			</div>

			<div class="item item-avatar">
				<img src="img/ionic.png">
				<h2>Paleo for the week</h2>
				<p>For eating entirely paleo meals</p>
			</div>
		</div>
	</ion-content>
</ion-view>
