<ion-view view-title="">
	<ion-content padding="true">
		</br>

		<div recipe-details></div>
		<div recipe-instructions></div>

		<div class="center">
			<button class="button button-balanced button-circle-large button-center" ng-click="makeRecipe()">
				<!-- <i class="ionicons ion-ios-nutrition-outline cook-button-icon"></i> -->
				<i class="ionicons ion-android-restaurant cook-button-icon"></i>
			  	<h3 class="cook-button-text">Make Recipe</h3>
			</button>
		</div>
	</ion-content>
	<!-- <tabs-menu></tabs-menu> -->
</ion-view>
