<ion-view view-title="Recipe Details">
	<ion-content padding="true">
		<!-- <h1>Recipe</h1> -->
		<!-- {{ recipe.title }} -->
		</br>
		<div id="recipe-details"></div>

		<h2 class="skinny-header center">Recipe Instructions</h2>
		<div class="list card">
			<div class="item item-text-wrap">
				<div class="row">
					<div class="col col-10 recipe-step">
						<div class="recipe-step-number">1</div>
					</div>
					<div class="col col-90 recipe-step-description">
						<h2>Preheat oven to 375 degrees</h2>
						<p>Pour oil into a large pot and place on the stove. Begin heating, monitoring the oil temperature with a thermometer.</p>
					</div>
				</div>
			</div>

			<div class="item item-text-wrap">
				<div class="row">
					<div class="col col-10 recipe-step">
						<div class="recipe-step-number">2</div>
					</div>
					<div class="col col-90 recipe-step-description">
						<h2>Combine dry ingredients</h2>
						<p>Combine the following dry ingredients:</p>
						<ul>
							<li>300 g Bread flour</li>
							<li>50 g Cornmeal, fine ground</li>
							<li>14 g salt</li>
							<li>132 g Sugar, granulated</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="item item-text-wrap">
				<div class="row">
					<div class="col col-10 recipe-step">
						<div class="recipe-step-number">3</div>
					</div>
					<div class="col col-90 recipe-step-description">
						<h2>Blend eggs</h2>
						<p>Crack 3 eggs open and blend.</p>
						<div class="video-container">
						        <iframe src="http://www.youtube.com/embed/imKuUNQd0cs" frameborder="0" width="560" height="315"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div> 

		<div class="center">
			<button class="button button-balanced button-circle-large button-center" ng-click="makeRecipe()">
				<!-- <i class="ionicons ion-ios-nutrition-outline cook-button-icon"></i> -->
				<i class="ionicons ion-android-restaurant cook-button-icon"></i>
			  	<h3 class="cook-button-text">Make Recipe</h3>
			</button>
		</div>
	</ion-content>
</ion-view>
