<h2 class="skinny-header center"> {{ recipe.name }} </h2>

<div class="list card">
	<div class="item item-image">
		<img src="https://spoonacular.com/recipeImages/{{recipe.image}}">
	</div>
	<div class="item item-avatar">
		<img src="img/meal-cooked.png">
		<h2>Total ingredients: {{ recipe.ingredients.length }}</h2>
		<p>Cook time: {{ recipe.time }} minutes </p>
		<p>Calories: {{ recipe.calories }} calories </p>
		<p>Cost: ${{ recipe.cost }} </p>
	</div>
</div>

<h2 class="skinny-header center">Ingredients</h2>

<div class="list card">
	<div class="item" ng-repeat="ingredient in recipe.ingredients">
		<p>{{ ingredient.originalString }}</p>
	</div>
</div>