<ion-view view-title="Recipe Search">
	<ion-content>
		<div class="list card">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
			  	<input type="search" placeholder="Search" ng-model="searchTerm" ng-keypress="search($event)">
			</label>	
		</div>

		<!-- <ion-list>
	      	<ion-item ng-repeat="recipe in recipes" href="#/app/recipes/{{recipe.id}}">
	        	{{recipe.title}}
	      	</ion-item>
	    </ion-list> -->
	    <div id="search-results"></div>
	</ion-content>
</ion-view>
