<ion-tabs class="tabs-balanced tabs-icon-only">
	<ion-tab 
		title="Dashboard" 
		href="#/app/profile"
		icon-on="ion-ios-home" 
		icon-off="ion-ios-home-outline">
	</ion-tab>

  	<ion-tab 
	 	title="Recipe Search" 
	 	href="#/app/search"
	 	icon-on="ion-ios-search-strong" 
	 	icon-off="ion-ios-search">
  	</ion-tab>

  	<ion-tab 
	  	title="History" 
	  	href="#/app/history"
	  	icon-on="ion-ios-bookmarks" 
	  	icon-off="ion-ios-bookmarks-outline">
  	</ion-tab>

 	<ion-tab 
	 	title="Trophies" 
	 	href="#/app/badges"
	 	icon-on="ion-ios-game-controller-b" 
	 	icon-off="ion-ios-game-controller-b-outline">
  	</ion-tab>
</ion-tabs>