/* Empty. Add your own CSS if you like */

.center {
	text-align: center;
}

ion-content.no-background {
	background-color: white; !
}

ion-content.salad-background {
	/*background-image: url("../img/salad-background-blurred.jpg");*/
	background-color: rgb(200,200,200);
	background-size: 100% 100%;
}

.card > .item {
	background: rgba(255,255,255,.8);
}

.card {
	background-color: rgba(240,240,240,0);
}

img#plate {
	position: relative; 
	padding-top: 5%;
	padding-bottom: 5%;
	width: 70%;
}

h2#number-meals-cooked {
	text-align: center;
	position: absolute;
	top: 35%;
	font-size: 13vw;
	width: 100%;
}

h4#number-meals-cooked-description {
	text-align: center;
	position: absolute;
	top: 60%;
	font-size: 3vw;
	width: 100%;
}

.button-circle-large {
	width: 8em; 
    height: 8em; 
    border-radius: 50%; 
}

.col {
	text-align:center;
}

#week {
	color: white;
	font-weight: 200;
}

#week-description {
	color: white;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 1.5em;
	text-transform: uppercase;
}

.dash-navigation {
	font-size: 2em;
	color: white;
}

/*overriding ionic style*/
.item-icon-left {
    padding-left: 5px;
    padding-right: 5px;
}

.cook-button-text {
	color: white;
	font-weight: 300;
	font-size: 1.2em;
	margin: 0;
}

.cook-button-icon {
	font-size: 2em;
}

div.col.recipe-step {
	text-align:center;
}

.recipe-step-number {
	width:8vw;
	height:8vw;
	border-radius:50%;
	font-size:5vw;;
	color:#fff;
	line-height:8vw;
	/*text-align:center;*/
	background:#000;
	font-weight: 400;
}

div.col.recipe-step-description {
	text-align: left;
	padding-left: 25px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skinny-header {
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 1.5em;
	text-transform: uppercase;
}

#cook-today-button {
	background-color: rgba(100,218,96,0.8);
	color:white;
}